.choiceBox {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em hsla(0, 0%, 4%, 0.1),
                0 0 0 1px hsla(0, 0%, 4%, 0.02);
    display: block;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    text-align: justify;

    &:hover {
        cursor: pointer;
    }

    span {
        font-weight: 600;
        font-size: 150%;
    }

    p {
        margin: 0;
    }
}
.Modal-body {
    border-radius: 0 0 4px 4px;
}
.SourceOption {
    padding: 5px;
    min-width: auto;
}